.brands-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 38px 98px;

    h1{
        font-size: 2.2rem;
        margin: 0 0 38px 0;
    }
    
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    //   background-color: aquamarine;
      
      .image-wrapper {
        width: calc(20% - 20px);
        padding: 40px;
        margin: 10px 0; 
        height: 150px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Default box shadow */
        transition: all 0.3s ease; /* Smooth transition for hover effect */

        &:hover{
            transform: translateY(-5px); /* Lift the div up on hover */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        
        img {
          width: 100%;
        }
      }
    }
  }
  