<div class="cart-container">
  <div class="cart-container__cart-items-section">
    @for (product of cartProducts; track $index) {
    <div class="cart-container__item">
      <div class="cart-container__item-image-left">
        <div class="cart-container__item-image">
          <img [src]="product.productId.images[0]" alt="" />
        </div>
        <div class="cart-container__item-quantity">
          <button
            (click)="decreaseQuantity(product.productId._id)"
            [disabled]="product.quantity <= 1"
          >
            -
          </button>
          <input type="text" [value]="product.quantity" readonly>
          <button (click)="increaseQuantity(product.productId._id)">+</button>
        </div>
      </div>
      <div class="cart-container__item-contents-right">
        <h6>{{ product.productId.productName }}</h6>
        <p class="color">{{ product.productId.color }}</p>
        <p class="delivery-date">
          Delivery by {{ deliveryDate | date : "EEEE MMMM dd" }}
          <span>| Free</span>
        </p>
        <p class="price">{{ product.productId.price * product.quantity | currency:'INR':'symbol':'1.0'  }}</p>
        <button class="remove-btn" (click)="removeCartItem(product.productId._id)">Remove</button>
      </div>
    </div>
    }@empty {
      <p class="empty-text">Cart empty</p>
    }
  </div>
  <div class="cart-container__amount-section">
    <h3>Price Details</h3>
    <table class="cart-container__price-table">
      <tr>
        @if (cartProducts && cartProducts.length > 0) {
          <td class="table-label">Price({{ cartProducts.length }} Watches)</td>
        }@else {
          <td class="table-label">Price</td>
        }
        <td class="table-value" style="color: #1f1f1f; font-weight: 500">
          {{totalAmount  | currency:'INR':'symbol':'1.0'  }}
        </td>
      </tr>
      <tr>
        <td class="table-label">Delivery Charges</td>
        <td class="table-value" style="color: #187700">Free</td>
      </tr>
      <tr class="row-total">
        <td class="table-label">Total Amount</td>
        <td class="table-value">{{totalAmount  | currency:'INR':'symbol':'1.0'  }}</td>
      </tr>
    </table>
    <div class="cart-container__place-order-container">
      <button>PLACE ORDER</button>
    </div>
  </div>
</div>
