<div class="cart-container">
  <div class="cart-container__cart-items-section">
    <div class="cart-container__item">
      <div class="cart-container__item-image-left">
        <div class="cart-container__item-image">
          <img src="../../../../assets/images/watch-cl7.jpg" alt="" />
        </div>
        <div class="cart-container__item-quantity">
          <button>-</button>
          <p>10</p>
          <button>+</button>
        </div>
      </div>
      <div class="cart-container__item-contents-right">
        <h6>RADO CAPTAIN COOK BLACK DIAL MEN 43MM</h6>
        <p class="color">Ceramic Gray</p>
        <p class="delivery-date">Delivery by June 27 <span>| Free</span></p>
        <p class="price">₹415,500</p>
        <button class="remove-btn">Remove</button>
      </div>
    </div>

    <div class="cart-container__item">
      <div class="cart-container__item-image-left">
        <div class="cart-container__item-image">
          <img src="../../../../assets/images/watch-cl7.jpg" alt="" />
        </div>
        <div class="cart-container__item-quantity">
          <button>-</button>
          <p>10</p>
          <button>+</button>
        </div>
      </div>
      <div class="cart-container__item-contents-right">
        <h6>RADO CAPTAIN COOK BLACK DIAL MEN 43MM</h6>
        <p class="color">Ceramic Gray</p>
        <p class="delivery-date">Delivery by June 27 <span>| Free</span></p>
        <p class="price">₹415,500</p>
        <button class="remove-btn">Remove</button>
      </div>
    </div>

    <div class="cart-container__item">
      <div class="cart-container__item-image-left">
        <div class="cart-container__item-image">
          <img src="../../../../assets/images/watch-cl7.jpg" alt="" />
        </div>
        <div class="cart-container__item-quantity">
          <button>-</button>
          <p>10</p>
          <button>+</button>
        </div>
      </div>
      <div class="cart-container__item-contents-right">
        <h6>RADO CAPTAIN COOK BLACK DIAL MEN 43MM</h6>
        <p class="color">Ceramic Gray</p>
        <p class="delivery-date">Delivery by June 27 <span>| Free</span></p>
        <p class="price">₹415,500</p>
        <button class="remove-btn">Remove</button>
      </div>
    </div>

    <div class="cart-container__item">
      <div class="cart-container__item-image-left">
        <div class="cart-container__item-image">
          <img src="../../../../assets/images/watch-cl7.jpg" alt="" />
        </div>
        <div class="cart-container__item-quantity">
          <button>-</button>
          <p>10</p>
          <button>+</button>
        </div>
      </div>
      <div class="cart-container__item-contents-right">
        <h6>RADO CAPTAIN COOK BLACK DIAL MEN 43MM</h6>
        <p class="color">Ceramic Gray</p>
        <p class="delivery-date">Delivery by June 27 <span>| Free</span></p>
        <p class="price">₹415,500</p>
        <button class="remove-btn">Remove</button>
      </div>
    </div>

    <div class="cart-container__item">
      <div class="cart-container__item-image-left">
        <div class="cart-container__item-image">
          <img src="../../../../assets/images/watch-cl7.jpg" alt="" />
        </div>
        <div class="cart-container__item-quantity">
          <button>-</button>
          <p>10</p>
          <button>+</button>
        </div>
      </div>
      <div class="cart-container__item-contents-right">
        <h6>RADO CAPTAIN COOK BLACK DIAL MEN 43MM</h6>
        <p class="color">Ceramic Gray</p>
        <p class="delivery-date">Delivery by June 27 <span>| Free</span></p>
        <p class="price">₹415,500</p>
        <button class="remove-btn">Remove</button>
      </div>
    </div>
  </div>
  <div class="cart-container__amount-section">
    <h3>Price Details</h3>
    <table class="cart-container__price-table">
      <tr>
        <td class="table-label">Price(3 Watches)</td>
        <td class="table-value" style="color: #1f1f1f; font-weight: 500">
          $25,000
        </td>
      </tr>
      <tr>
        <td class="table-label">Delivery Charges</td>
        <td class="table-value" style="color: #187700">Free</td>
      </tr>
      <tr class="row-total">
        <td class="table-label">Total Amount</td>
        <td class="table-value">$25,000</td>
      </tr>
    </table>
    <div class="cart-container__place-order-container">
        <button>PLACE ORDER</button>
    </div>
  </div>
</div>
