<div class="home-container">
  
  <app-hero-section></app-hero-section>

  <div class="home-container__watch-categories-container">
      <!-- <button class="home-container__admin-btn" routerLink="/admin">Go to Admin Panel</button> -->
    <!-- <h1 class="home-container__section-title" data-aos="fade-up" offset="0">Watches for Every Wrist</h1> -->
    <div class="home-container__category-wrapper">

      <div class="home-container__watch-category" data-aos="fade-up" offset="0" data-aos-duration="1000">
        <img src="../../../assets/images/home/men-watch.jpg" alt="" />
        <div class="home-container__overlay">
          <h2>Men's <br />Collection</h2>
          <button>Discover</button>
        </div>
      </div>

      <div class="home-container__watch-category" data-aos="fade-up" offset="0" data-aos-duration="1000">
        <img src="../../../assets/images/home/women-watch.jpg" alt="" />
        <div class="home-container__overlay">
          <h2>Women's <br />Collection</h2>
          <button>Discover</button>
        </div>
      </div>

      <div class="home-container__watch-category" data-aos="fade-up" offset="0" data-aos-duration="1000">
        <img src="../../../assets/images/home/unisex-watch.jpg" alt="" />
        <div class="home-container__overlay">
          <h2>Unisex <br />Collection</h2>
          <button>Discover</button>
        </div>
      </div>
    </div>
  </div>

  <!-- products  section  -->
   <app-products-section></app-products-section>

</div>
