<div class="home-container">
    <!-- hero section  -->
    <div class="home-container__hero">
        <div class="home-container__hero-contents">
            <p>Timeless elegance, always in style</p>
            <h1>Chrome Seconds Watches</h1>
            <button>Shop Now</button>
        </div>
    </div>

    <!-- products  section  -->
    <div class="home-container__products">
        <h1 class="home-container__prouducts-title">Featured Products</h1>
        <div class="products-wrapper">
            <!-- list the products using for lool here  -->
        </div>
    </div>

</div>