<div class="home-container">
  
  <app-hero-section></app-hero-section>

  <div class="home-container__watch-categories-container">
      <button class="home-container__admin-btn" routerLink="/admin">Go to Admin Panel</button>
    <h1 class="home-container__section-title">Watches for Every Wrist</h1>
    <div class="home-container__category-wrapper">
      <div class="home-container__watch-category">
        <img src="../../../assets/images/mens-watch.jpeg" alt="" />
        <div class="home-container__overlay">
          <h2>Men's <br />Collection</h2>
          <button>Discover</button>
        </div>
      </div>

      <div class="home-container__watch-category">
        <img src="../../../assets/images/womans-watch.jpeg" alt="" />
        <div class="home-container__overlay">
          <h2>Women's Collection</h2>
          <button>Discover</button>
        </div>
      </div>

      <div class="home-container__watch-category">
        <img src="../../../assets/images/unisex.jpeg" alt="" />
        <div class="home-container__overlay">
          <h2>Unisex <br />Collection</h2>
          <button>Discover</button>
        </div>
      </div>
    </div>
  </div>

  <!-- products  section  -->
   <app-products-section></app-products-section>

</div>
