<div class="product-details-container">
    <div class="product-details-container__hero-section">
        <div class="product-details-container__image-section">
            <!-- <img [src]="productData.image" alt="Product Image" /> -->
        </div>
        <div class="product-details-container__product-info">
            <h1>{{ productData.productName }}</h1>
            <p class="product-price">${{ productData.price }}</p>
            <p class="product-description">{{ productData.description }}</p>
            <button>Add to cart</button>
        </div>
    </div>
</div>