.product-details-container {
  min-height: calc(100dvh - 110px);
  // hero section 
  &__hero-section {
    display: flex;
    padding: 18px 68px;
    height: calc(100dvh - 110px);
    background-color: #ffffff;
  }

  &__image-section {
      flex: 1;
      max-width: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .list-group-item {
    cursor: pointer;
    padding: 0px;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    overflow: hidden;
    & img{
      width: 100px;
    }
  }
  .active-slide{
    transform: scale(1.01);
    border: 2px solid #E54800;
  }
  .carousel-image{
    width: 508px;
    height: 518px;
    overflow: hidden;
    position: relative;
    img{
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
    }
  }

  &__product-info {
    flex: 1;
    padding: 80px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__product-info-contents{
    padding: 18px;

    & h1{
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  &__product-id{
    background-color: #e5e5e5;
    padding: 4px 8px;
    font-size: 1.0rem;
    width: fit-content;
  }
  &__product-color{
    font-size: 1.0rem;
    font-style: italic;
    color: #2e2e2e;
  }
  &__product-price{
    font-size: 1.6rem;
    font-weight: 600;
  }
  &__product-description{
    font-size: 1.0rem;
  }

  &__product-delivery{
    padding: 8px 14px;
    background-color: #dadada;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    .deliveryDate{
      font-size: 0.9rem;
      margin: 0;
      padding: 0;
      font-weight: 600;
    }
    .info{
      font-size: 0.8rem;
      margin: 0;
      padding: 0;
    }
    & span{
      color: #a07000;
    }
  }

  &__btn{
    padding: 14px 28px;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #2a2a2a;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: scale(0.98);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    &--buy{
      background-color: #E54800;
      margin-left: 18px;
      &:hover {
        background-color: #b73a00;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }
  

  // full spec section 
  &__full-specifications{
    padding: 18px 68px;
    margin-bottom: 68px;
    background-color: transparent;
    & h2{
      font-size: 1.6rem;
      font-weight: 500;
      padding-bottom: 18px;
    }
  }
  &__specifications-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 16px; 
  }
  &__specification-cell{
    .spec-lable{
      font-size: 0.9rem;
      margin: 0;
      color: #343434;
    }
    .spec-value{
      font-size: 1.1rem;
      color: #000;
      font-weight: 500;
    }
  }

}
