<div class="product-details-container">
    <div class="product-details-container__hero-section">

        <div class="row product-details-container__image-section">
            <div class="col-2">
              <!-- Custom indicators -->
              <ul class="list-group" style="gap: 8px">
                <li *ngFor="let image of productData.images; let i = index" 
                    class="list-group-item"
                    [class.active-slide]="i === currentSlide"
                    (mouseover)="goToSlide(i)">
                  <img [src]="image" class="img-thumbnail" alt="Product Thumbnail">
                </li>
              </ul>
            </div>
            <div class="col-10">
              <!-- Bootstrap Carousel -->
              <div id="" class="carousel slide">
                <div class="carousel-inner">
                  <div *ngFor="let image of productData.images; let i = index" 
                       class="carousel-item" 
                       [class.active]="i === currentSlide">
                    <img [src]="image" class="d-block w-100" alt="Product Image">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <div class="product-details-container__product-info">
            <div class="product-details-container__product-info-contents">
              <p class="product-details-container__product-id">Code: {{productData.productId}}</p>
                <h1>{{ productData.productName }}</h1>
                <p class="product-details-container__product-color">Color: {{productData.color}}</p>
                <p class="product-details-container__product-price">{{ productData.price | currency:'INR':'symbol':'1.0' }}</p>
                <p class="product-details-container__product-description">{{ productData.description }}</p>
                @if (productData.isAvailable) {
                  <div class="product-details-container__product-delivery">
                    <p class="deliveryDate">Delivery by {{deliveryDate | date: 'dd MMMM EEEE'}} <span>| Free</span></p>
                    <p class="info">If orderd before 12:00pm</p>
                  </div>
                }
                <button class="product-details-container__btn" (click)="addCart(productData._id)">Add to cart</button>
                <button class="product-details-container__btn product-details-container__btn--buy">{{ productData.isAvailable ? 'Buy now' : 'Out of Stock' }}</button>
            </div>
        </div>
    </div>

    <div class="product-details-container__full-specifications">
      <h2>Full Specifications</h2>

      <div class="product-details-container__specifications-grid">

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Brand</p>
          <p class="spec-value">{{productData.brand}}</p>
        </div>

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Browse Category</p>
          <p class="spec-value">{{productData.category}}</p>
        </div>

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Watch code</p>
          <p class="spec-value">{{productData.productId}}</p>
        </div>

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Color</p>
          <p class="spec-value">{{productData.color}}</p>
        </div>

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Weight</p>
          <p class="spec-value">{{productData.weight}}.gm</p>
        </div>

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Material</p>
          <p class="spec-value">{{productData.material}}</p>
        </div>

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Gender</p>
          <p class="spec-value">{{productData.gender}}</p>
        </div>

        <div class="product-details-container__specification-cell">
          <p class="spec-lable">Availabiity</p>
          <p class="spec-value">{{productData.isAvailable? 'In stock' : 'Out of Stock'}}</p>
        </div>

      </div>
      <div class="product-details-container__specification-cell" style="margin-top: 18px;">
        <p class="spec-value" style="margin: 0;">About Watch
        <p class="spec-lable">{{productData.specifications}}</p>
      </div>
      
    </div>
</div>