<div class="promises-section">

    <div class="promises-section__card" data-aos="fade-up" offset="0" data-aos-delay="200">
        <div class="promises-section__card-image">
            <img src="../../../../assets/images/home/delivery.png" alt="">
        </div>
        <div class="promises-section__card-promise">
            <h3>Free Delivery</h3>
            <p>With In 5 Days</p>
        </div>
    </div>

    <div class="promises-section__card" data-aos="fade-up" offset="0" data-aos-delay="300">
        <div class="promises-section__card-image">
            <img src="../../../../assets/images/home/premium-badge.png" alt="">
        </div>
        <div class="promises-section__card-promise">
            <h3>Premium Watches</h3>
            <p>Top collections</p>
        </div>
    </div>

    <div class="promises-section__card" data-aos="fade-up" offset="0" data-aos-delay="400">
        <div class="promises-section__card-image">
            <img src="../../../../assets/images/home/refund-policy.png" alt="">
        </div>
        <div class="promises-section__card-promise">
            <h3>Easy Returns</h3>
            <p>within 7 days</p>
        </div>
    </div>

    <div class="promises-section__card" data-aos="fade-up" offset="0" data-aos-delay="500">
        <div class="promises-section__card-image">
            <img src="../../../../assets/images/home/pay-money.png" alt="">
        </div>
        <div class="promises-section__card-promise">
            <h3>Secure payments</h3>
            <p>Online transactions</p>
        </div>
    </div>

</div>