.add-product {
  background-color: #ffffff;
  padding: 14px 200px;
  &__back-btn {
    float: right;
    padding: 8px 22px;
    font-size: 18px;
    border-radius: 6px;
    background-color: #e54800;
    color: #ffffff;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    &:hover {
      background-color: #c03f00;
    }
    &:active {
      background-color: #a83600;
      transform: scale(0.98);
    }
  }
  &__title {
    text-align: center;
    margin: 12px 0;
  }

  &__product-form-container {
    background-color: #dbd8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &__form-inputs {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(5, auto);
    gap: 15px;
  }

  &__form-group {
    width: 100%;
    & label {
      font-size: 16px;
    }
    & input,
    textarea,
    select {
      width: 100%;
      font-size: 16px;
      padding: 8px 12px;
      resize: vertical;
      outline: none;
      border: 1px solid #ccc;

      &:focus {
        outline: 1px solid #e54800;
      }
    }
    input[type="file"] {
      position: absolute;
      z-index: -1;
      width: 0;
      height: 0;
      opacity: 0;
    }

    & p {
      display: inline;
      padding: 0 8px;
    }
    & input,
    & select,
    & textarea {
      &.error {
        border-color: #ff0000;
      }
    }

    &--image-box {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      & label {
        display: inline-block;
        border: 1px solid #787878;
        cursor: pointer;
        padding: 12px;
        text-align: center;
        width: 100%;
        line-height: 24px;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        background-color: #626262;
        border-radius: 6px;
        margin-top: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in;
        &:hover{
          background-color: #7e7e7e;
          color: #ffffff;
          transform: scale(1.03);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        &:active{
          transform: scale(1.0);
        }
      }
    }

    .image-warning {
      background-color: #f86262;
      &:hover{
        background-color: #fd8787;
        color: #ffffff;
      }
    }
    .image-stored {
      background-color: #ffffff;
      color: #626262;
    }

    & small {
      color: #ff0000;
    }
  }

  // add product button
  &__add-watch-btn {
    padding: 8px 18px;
    width: 100%;
    margin-top: 32px;
    font-size: 20px;
    border-radius: 6px;
    background-color: #e54800;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
    &:hover {
      background-color: #c03f00;
    }
    &:active {
      background-color: #a83600;
      transform: scale(0.98);
    }
  }
}
