<div class="admin-panel">
  <h1 class="admin-panel__title">Manage Products</h1>
  <div class="admin-panel__button-section">
    <button class="admin-panel__add-btn" routerLink="add-product">
      Add new product
    </button>
  </div>

  <table class="admin-panel__table">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Image</th>
        <th>Specifications</th>
        <th>Color</th>
        <th>Weight</th>
        <th>Material</th>
        <th>Gender</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (product of products; track $index) {

      } -->
      <tr>
        <td>21</td>
        <td>Elegant Silver Watch</td>
        <td>
          A stylish and elegant silver watch perfect for any formal occasion.
        </td>
        <td>Dress Watch</td>
        <td>LuxuryTime</td>
        <td>$299.99</td>
        <td><img src="path" alt="Elegant Silver Watch" /></td>
        <td>Water resistant, Scratch resistant</td>
        <td>Silver</td>
        <td>120 grams</td>
        <td>Stainless Steel</td>
        <td>Men</td>
        <td>Delete</td>
      </tr>

      <tr>
        <td>21</td>
        <td>Elegant Silver Watch</td>
        <td>
          A stylish and elegant silver watch perfect for any formal occasion.
        </td>
        <td>Dress Watch</td>
        <td>LuxuryTime</td>
        <td>$299.99</td>
        <td><img src="../../../../assets/images/mens-watch.jpeg" alt="Elegant Silver Watch" /></td>
        <td>Water resistant, Scratch resistant</td>
        <td>Silver</td>
        <td>120 grams</td>
        <td>Stainless Steel</td>
        <td>Men</td>
        <td>Delete</td>
      </tr>

      <tr>
        <td>21</td>
        <td>Elegant Silver Watch</td>
        <td>
          A stylish and elegant silver watch perfect for any formal occasion.
        </td>
        <td>Dress Watch</td>
        <td>LuxuryTime</td>
        <td>$299.99</td>
        <td><img src="path" alt="Elegant Silver Watch" /></td>
        <td>Water resistant, Scratch resistant</td>
        <td>Silver</td>
        <td>120 grams</td>
        <td>Stainless Steel</td>
        <td>Men</td>
        <td>Delete</td>
      </tr>
    </tbody>

  </table>
</div>
