<div class="admin-panel">
  <h1 class="admin-panel__title">Manage Products</h1>
  <div class="admin-panel__button-section">
    <button class="admin-panel__routing-btn" routerLink="orders">Orders</button>
    <button class="admin-panel__routing-btn" routerLink="add-product">
      Add new product
    </button>
  </div>

  @if (showActions) {
  <div class="admin-panel__actions-div">
    <button class="availality-btn" (click)="changeAvailability()">
      {{
        selectedProduct.isAvailable
          ? "Set as Not Available"
          : "Set as Available"
      }}
    </button>
    <button class="delete-btn" (click)="deleteProductClicked()">
      Delete Product
    </button>
    <button class="close-btn" (click)="toggleActions('')">Close</button>
  </div>
  }
  <div *ngIf="showActions" class="overlay"></div>

  <table class="admin-panel__table">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Image</th>
        <th>Specifications</th>
        <th>Color</th>
        <th>Weight(gm)</th>
        <th>Material</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of allProductsDetails | paginate:{itemsPerPage: pageSize,
      currentPage:currentP}; track $index) {
      <tr>
        <td>{{ product.productId }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.price | currency : "INR" : "symbol" : "4.2-3" }}</td>
        <td>
          @for (image of product.images; track $index) {
          <img [src]="image" alt="{{ product.productName }}" />
          }
        </td>
        <td>{{ product.specifications }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.weight }}gm</td>
        <td>{{ product.material }}</td>
        <td>{{ product.gender }}</td>
        <td>
          <button
            (click)="toggleActions(product._id)"
            class="admin-panel__watch-action-btn"
          >
            Action
          </button>
        </td>
      </tr>
      }@empty {
        <tr>
          <td>Loading..</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>

  <pagination-controls
  class="admin-panel__paginator-controls"
  data-aos="fade-up"
  previousLabel=""
  nextLabel=""
  (pageChange)="currentP = $event"
>
</pagination-controls>
</div>
