<div class="header-container">
  <div class="header-container__brand" routerLink="">
    <img src="../../../../assets/images/brand/watch.png" alt="CS" />
    <h1>Chrome Seconds</h1>
  </div>

  <div class="header-container__navigation">
    <nav>
      <ul class="header-container__list">
        <li class="header-container__item">
          <a
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="header-container__item">
          <a
            routerLink="products"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Products</a
          >
        </li>
        <li class="header-container__item">
          <a
            routerLink="about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>

        <li class="header-container__item">
          <a
            routerLink="contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
        
        <li class="header-container__item">
          <a
            routerLink="admin"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Admin</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="header-container__cart-account">
    <!-- if the user is logged in show this  -->
    @if (isLoggedIn) {
    <img
      src="../../../../assets/images/icons/bag.png"
      alt="Cart"
      [routerLink]="['cart']"
      class="header-container__cart"
    />
    <div class="header-container__user" routerLink="user">
      <img [src]="userImage" alt="Profile Picture" />
    </div>
    }@else {
      <!-- if the user is not logged in show this -->
    <button
      class="header-container__login-button"
      routerLink="login"
      routerLinkActive="active-btn"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Login
    </button>
    }
  </div>
</div>
