<div class="footer-container">
  <div class="footer-container__main">
    <div class="footer-container__main-contents">
      <div class="footer-container__contents-block footer-container__contents-block--main">
        <div class="brand">
          <div class="brand-image">
            <img src="../../../../assets/images/brand/watch.png" alt="" />
          </div>
          <div class="brand-name">
            <h1>Chrome <span style="color: #ff5000">Seconds</span></h1>
          </div>
        </div>
        <div class="about">
          <p>
            At Chrome Seconds, we believe that a watch is more than just a tool
            to tell time; it’s a statement of style, a piece of craftsmanship,
            and a personal treasure. Explore our curated collection of premium
            watches from renowned brands, each selected for its quality,
            elegance, and unique design.
          </p>
        </div>
        <div class="follow-links">
            <div class="icon" style="padding: 3px;">
                <img src="../../../../assets/icons/twitter-w.png" alt="">
            </div>
            <div class="icon">
                <img src="../../../../assets/icons/facebook-w.png" alt="">
            </div>
            <div class="icon">
                <img src="../../../../assets/icons/instagram-w.png" alt="">
            </div>
        </div>
      </div>
      <div class="footer-container__contents-block">
        <div class="title">
            <h1>Quick Links</h1>
        </div>
        <div class="links">
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Profile</li>
            </ul>
        </div>
      </div>
      <div class="footer-container__contents-block">
        <div class="title">
            <h1>Shop by Category</h1>
        </div>
        <div class="links">
            <ul>
                <li>Casual Watch</li>
                <li>Luxury Watch</li>
                <li>Dress Watch</li>
                <li>Sports Watch</li>
            </ul>
        </div>
      </div>
      <div class="footer-container__contents-block">
        <div class="title">
            <h1>Help</h1>
        </div>
        <div class="links">
            <ul>
                <li>Warranty & Support</li>
                <li>Return Policy</li>
                <li>FAQs</li>
                <li>Terms and Conditions</li>
                <li>Why Buy Direct</li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container__bottom">
    <p class="footer-container__copyright">© 2024 anandak19 . All right reserved</p>
  </div>
</div>
